h1{
    width: 10%;
    margin: 0, auto, 0, auto;
    display: inline-block;
}
body{
    margin: 0px;
    text-align: center;
    margin-left: 0;
    
}
h3{
    color: #66BFBF;
    margin: 0%;
}
.top-containner{
    background-color: #EAF6F6;
    height: 15%;
    width: 30%;
    display: inline-block;
    position: absolute;
    left: 10px;
}
.blue{
    height: 100px;
    width: 100px;
    background-color: blue;
    display: inline-block;
    position:absolute;
    top: 176px;
    left: 100px;


}
.yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
    display: inline-block;
    position: absolute;
    left:0px;
}
.red{
    height: 100px;
    width: 100px;
    background-color: red;
    display: inline-block;
    position: absolute;
    top: 276px;
    left: 200px;

    
}
.divwithimage{
    height: 300px;
    width: 300px;
    border: 2px solid black ;
    position: absolute;
    right: 333px;


}

.imageinadiv{
    background-color: grey;
    position: absolute;
    left: 20px;
}
